#CHP2

## 문자열

### 문자열 포맷팅
- format()을 쓸 자리에 {0}을 넣어준다
- 두 가지를 한꺼번에 넣으려면 인덱스처럼 바꿀 자리에 {0},{1},,,,을 차례로 넣고 format(첫번째, 두번째)로 치환.
- {0} 같은 인덱스 대신 변수도 가능, 인덱스와 혼용가능 ex) '{0} days ago{end}'.format(num, end = '?') 
- format 안에 문자열은 따옴표 감싸줘야됨

In [ ]:
num = 'four'
num2 = 4
'I ate {0} apples'.format(num)

'I ate four apples'

In [ ]:
'I ate {0} apples'.format(num2)

'I ate 4 apples'

In [ ]:
when = '3 days ago'
'I ate {0} apples {1}'.format(num, when)

'I ate four apples 3 days ago'

In [ ]:
'I ate {0} bananas {when}'.format(num2, when = '3 days ago')

'I ate 4 bananas 3 days ago'

### f문자열 포맷팅
- f문자열을 접두사처럼 붙여 포맷팅을 할 수 있다.
- 미리 생성해놓은 변수를 가져다 쓸 수 있고, 딕셔너리도 가용가능하다. (딕셔너리는 안에 key를 가져올 때 쌍따옴표(")를 붙여야 부를 수 있음)
- format 함수와 같이 넣고 싶은 자리에 {} 대괄호를 써서 사용한다.

In [ ]:
name = '강태인'
age = 26
taein = {'name' : '강태인', 'age' : 26}

In [ ]:
f'제 이름은 {name}이구요 나이는 {age}입니다. 잘부탁드립니다.'

'제 이름은 강태인이구요 나이는 26입니다. 잘부탁드립니다.'

In [ ]:
f'제 이름은 {taein["name"]}이구요 나이는 {taein["age"]}입니다. 잘부탁드립니다.'

'제 이름은 강태인이구요 나이는 26입니다. 잘부탁드립니다.'

### 소수점 표현하기
- 일반적으로 치환할 때의 소수점 치환은 %f를 쓴다. 소수점자리를 표현하려면 %와 f 중간에 ex) 4자리까지 -> %0.4f 이렇게 0.소수점자리로 표현해줌
- format에서도 소수점 치환으로 {인덱스(만들어논 변수x, format안에 변수o) : 총자리수.소수점자리 f} 로 표현해준다. % 대신 이번 인덱스에 들어간다는 의미로 : 콜론을 쓰는 것 같다. 앞서 생성한 변수는 불가능하고 format 안에 변수로 지정해주면 가능 format(변수 = 소수)
- 접두사처럼 쓰이는 f 문자열 포맷도 가능하다. 쓰려는 자리에 {변수 : 총자리수.소수점자리 f}

In [ ]:
a = 3.141592

In [ ]:
'원주율은 %f 입니다.' % a

'원주율은 3.141592 입니다.'

In [ ]:
'원주율은 %0.4f 입니다.' % a

'원주율은 3.1416 입니다.'

In [ ]:
'원주율은 {0:0.4f}입니다.'.format(3.141592)

'원주율은 3.1416입니다.'

In [ ]:
'원주율은 {b:0.4f}입니다.'.format(b = 3.141592)

'원주율은 3.1416입니다.'

In [ ]:
f'원주율은 {a}입니다'

'원주율은 3.141592입니다'

In [ ]:
f'원주율은 {a:0.4f}입니다.'

'원주율은 3.1416입니다.'

## '문자열' 내장함수
- 문자열 변수에만 가능

### 문자열 세기 (count)
- 그 문자가 몇 개 나오는지 문자 개수 세기

### 문자열 위치 찾기 (find)
- 문자열이 '처음'나온 위치 반환. 파이썬은 0부터 세기 때문에 참고.
- 문자열이 없으면 -1 반환!

### 문자열 위치 찾기2 ( index)
- find랑 같으나 문자열 없으면 오류남

In [ ]:
ti = 'my name is tae-in'

In [ ]:
ti.count('i')

2

In [ ]:
ti.find('i')

8

In [ ]:
ti.find('f')

-1

In [ ]:
ti.index('i')

8

In [ ]:
ti.index('f')

ValueError: ignored

### 문자열 삽입 (join)
- 넣을 문자열.join(타겟 문자열)
- 타겟 문자열에 문자열이 사이사이 들어간다
- 리스트나 튜플에도 사용가능

### 소문자 -> 대문자 (upper), 대문자 -> 소문자 (lower)
- 바꿀게 없어도 오류 없음.
-upper(),lower() 안에 아무것도 안넣어도 됨

### 문자열 바꾸기 (replace)
- 변수.replace( 타겟 문자열 , 바꿀 문자열)

### 문자열 나누기 (split)
- split() 안에 아무것도 안넣으면 공백 기준으로 나눔
- split(구분자) 구분자를 지정해주면 그것을 기준으로 나눔. 구분자는 없어짐

In [ ]:
'='.join(ti)

'm=y= =n=a=m=e= =i=s= =t=a=e=-=i=n'

In [ ]:
'='.join('blaidkamdfidmkekwk')

'b=l=a=i=d=k=a=m=d=f=i=d=m=k=e=k=w=k'

In [ ]:
up = ti.upper()
ti.upper()

'MY NAME IS TAE-IN'

In [ ]:
up.lower()

'my name is tae-in'

In [ ]:
ti.replace('tae','gang')

'my name is gang-in'

In [ ]:
ti.split('-')

['my name is tae', 'in']

## 리스트

### 중첩 리스트 인덱싱
- 인덱싱을 중첩으로 해주면 된다.

In [3]:
l = ['taein','house','sunny',['is','sangdo',['ro', '8-8', '4']]]
s = ['feel','good']

In [ ]:
l[0] + l[3][0] + l[3][2][2]

'taeinis4'

### 리스트 합치기(+)
- 두 리스트를 +로 합친다.

### 리스트 곱하기(*)
- 리스트를 *로 반복한다.

In [ ]:
s + l

['feel',
 'good',
 'taein',
 'house',
 'sunny',
 ['is', 'sangdo', ['ro', '8-8', '4']]]

In [ ]:
s *2

['feel', 'good', 'feel', 'good']

### 리스트 길이 구하기 
- len(리스트)로 길이(원소 개수) 구할 수 있음
- 중첩리스트는 리스트 안에 있는 리스트를 한 원소로 봄

- 문자열, 리스트, 튜플, 딕셔너리 모두 사용가능하다.

In [ ]:
len(s)

2

In [ ]:
len(l)

4

### 리스트 값 제거
- del 함수 사용 -> del 객체 로 요소 제거. 객체엔 인덱싱이나 슬라이싱도 가능.
- 변수.remove(원소)사용 -> 리스트에서 첫번째로 나오는 원소 제거. 원소는 무조건 1개만 없앰
- 변수.pop(원소) 사용 -> 리스트 마지막 원소를 출력하고 바로 제거. 
- 리스트 요소가 문자열이든 숫자든 관계없음

### 리스트 원소 삽입
- 변수.append(원소) -> 원소를 리스트 맨 마지막에 삽입
- 변수.insert(인덱스,원소) -> 원소를 인덱스 위치에 삽입
- 리스트 요소가 문자열이든 숫자든 관계없음

In [5]:
s.append(5)
s

['feel', 'good', 5, 5]

In [9]:
s.insert(0,'ㅎㅇ')
s

['ㅎㅇ', 'ㅎㅇ', 'feel', 'good', 5, 5]

In [10]:
del s[0]

In [13]:
s.remove(5)
s

['feel', 'good', 5]

### 리스트 정렬(정방향, 역방향)
- 리스트.sort() -> 리스트를 순서대로 정렬 1432 -> 1234, acb -> abc
- 리스트.reverse() -> 리스트를 역순으로 정렬, 내림차순 아니고 그냥 뒤집기만. cab -> bac

### 리스트 원소 위치 반환
- 리스트.index(원소) -> 원소의 리스트 내 위치를 반환

### 리스트 내 원소 개수 세기
- 리스트.count(원소) -> 원소가 몇 개 있는지 반환

# 리스트 확장
- 리스트1.extend(리스트2) -> extend 안에는 리스트만 올 수 있음
- 리스트2를 리스트1에 합침. 리스트2는 미리 변수로 만들어 놓을 수도 있고 바로 리스트를 넣어도 됨.

## Q1

In [ ]:
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

과목	점수
국어	80
영어	75
수학	55

In [ ]:
sub = c(80, 75, 55)

NameError: ignored

In [ ]:
sub.mean()

AttributeError: ignored