# CHP4 - 프로그램의 입출력

## 함수

- def 함수명(매개변수):
-    <수행할 문장1>
-    <수행할 문장2>
-    ...
-    return 반환할 결과값
-
- 매개변수가 없을 수도 있고, 결과값이 없을 수도 있다.

- 매개변수(parameter) : 함수에서 입력할 수 있는 값. 미지수. ex) 함수 add를 만들때 파라미터 a,b를 넣자.
- 인수(argument) : 함수에 직접 넣는 값. ex) 함수 add에 아규먼트 2,5를 넣어보자.

### 입력값 O, 결과값 O

- def 함수이름(매개변수):
-    <수행할 문장>
-    ...
-    return 결과값
-
- 변수에 함수값을 저장하면 저장됨.

In [1]:
a = 1
b = 4
def add(a, b): 
    result = a + b 
    return result
add(a,b)

5

In [3]:
a = add(5,6)
a

11

### 입력값 X, 결과값 O

- def 함수이름( 없음 ) :
-  <수행할 문장>
- ...
- return 결과값
-
- 변수에 함수값 저장하면 저장됨.

In [4]:
def say(): 
 return 'Hi'

In [5]:
say()

'Hi'

In [6]:
s = say()

In [7]:
s

'Hi'

### 입력값 O, 결과값 X 

- def 함수이름(매개변수) :
- <수행할 문장>
- ,,,
-
- return 명령어가 없고 수행할 문장 부분은 실행이 돼서 결과값이 있어보이지만
- 변수에 함수값을 저장하려해도 저장되지 않는다.

In [9]:
def add(a, b): 
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [10]:
add(1,2)

1, 2의 합은 3입니다.

In [15]:
# 결과가 있는 것처럼 보이지만 변수 a 에는 저장된 것이 없다.
a = add(1,4)

1, 4의 합은 5입니다.

In [16]:
a

In [17]:
print(a)

None

### 입력값 X, 결과값 X
- def 함수이름() :
- <수행할 문장>
-
- 함수이름() 으로 수행할 문장 실행가능

In [18]:
def say(): 
  print('Hi')

In [19]:
say()

Hi

### 매개변수 지정 호출
-
- 함수를 설정했으면 함수이름 ( 매개변수1 = 값, 매개변수2 = 값)처럼 매개변수에 직접 값을 입력할 수 있다. 매개변수를 직접 입력하므로 매개변수 순서가 바뀌어도 관계없다.

In [20]:
def func(a, b):
     return a*b + a

In [21]:
func(a =1, b=2)

3

In [24]:
# 매개변수 b에 직접 값을 넣어줬으므로 func(b=2, a=1) = func(1,2) 와 같다.
func(b=2, a=1)

3

In [23]:
func(2,1)

4

### 매개값 초기 설정
- 매개변수에 초기 디폴트 값을 설정할 수 있다. 
- 초기 값으로 설정하려면 여러 매개변수 중에 맨 뒤에 적어야함.

In [41]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [42]:
say_myself("taein", 26)

나의 이름은 taein 입니다.
나이는 26살입니다.
남자입니다.

In [43]:
say_myself("a-jung", 29, False)

나의 이름은 a-jung 입니다.
나이는 29살입니다.
여자입니다.

### 입력값이 몇개인지 모를때
-
- def 함수이름(*매개변수) :
-    <수행할 문장>
-    return
- >>> 매개변수 앞에 *을 붙이면 값이 여러개가 들어와도 수행가능하다. 
- 
-
- def 함수이름(**매개변수key = 값value) :
-    <수행할 문장>
-    return
- >>> 매개변수 앞에 **을 붙이면 keyargument라고 해서 딕셔너리처럼 저장된다.

In [25]:
def add_many(*args): 
...     result = 0 
...     for i in args: 
...         result = result + i 
...     return result

In [26]:
result = add_many(1,2,3)
print(result)
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [32]:
def print_kwargs(**kwargs):
...     return kwargs

In [33]:
a = print_kwargs(name='foo', age=3)

In [34]:
a

{'age': 3, 'name': 'foo'}

### 함수 결과값은 하나여야한다.

- def 함수이름() : 
- <수행할 문장>
-  return 결과1, 결과2
- > 결과가 2개지만 결과를 보면 튜플로 저장돼 하나의 결과라고 볼 수 있다.
- 결과1, 결과2를 각각의 변수에 할당하고 싶으면
- 변수1, 변수2 = 함수이름(인수) 로 하면된다. 변수1 = 결과1, 변수2 = 결과2로 저장될 것.

In [35]:
def add_and_mul(a,b): 
...     return a+b, a*b

In [36]:
a,b = add_and_mul(4,7)

In [37]:
print(a)
print(b)

11
28

### return의 다른 쓰임
-
- 특별한 상황일 때 함수를 빠져나가고 싶다면 return을 단독으로 써서 함수를 즉시 빠져나갈 수 있다.
-

In [38]:
def say_nick(nick): 
     if nick == "바보": 
         return 
     print("나의 별명은 %s 입니다." % nick)

In [39]:
say_nick("멍청이")

나의 별명은 멍청이 입니다.

In [40]:
say_nick("바보")

### lambda!! 
- 함수를 사용하지 않아도 될 정도로 간결한 함수이거나,
- 함수 def를 사용할 수 없는 경우에 사용한다

- lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식 으로 사용한다.
- return 명령어가 없어도 결과값을 반환한다.

## 사용자 입력, 출력
-
- 입력 >> input() 함수 사용.
- 출력 >> print() 함수 사용.

### input()
-
- input()은 입력된 모든 값을 문자열로 취급한다.
- 변수 = input()으로 변수에 문자열 입력가능.
- input("변수를 입력하세요 : ") 와 같이 입력하기 전 띄워질 문자열도 넣을 수 있다.

In [44]:
a = input("변수를 입력하세요 : ")

변수를 입력하세요 : taeinee babo

In [45]:
print(a)

taeinee babo

### print()
-
- 큰따옴표(")로 둘러싸인 문자열은 + 연산과 동일하다
- 문자열 띄어쓰기는 콤마로 한다.
- 한 줄에 결괏값 출력하기 ->> 한 줄에 결괏값을 계속 이어서 출력하려면 매개변수 end를 사용해 끝 문자를 지정해야 한다.

In [47]:
print("taein" "is" "babo")

taeinisbabo

In [48]:
print("taein","is","babo")

taein is babo

In [50]:
for i in range(10) : 
  print(i*i, end = ' ')

0 1 4 9 16 25 36 49 64 81

In [51]:
for i in range(10) : 
  print(i*i)

0
1
4
9
16
25
36
49
64
81

In [52]:
for i in range(10) : 
  print(i*i, end = '/')

0/1/4/9/16/25/36/49/64/81/

In [54]:
for i in range(10) : 
  print(i*i, end = ",")

0,1,4,9,16,25,36,49,64,81,